<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>正安數位購物網</title>
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    {% block script %}{% endblock %}
</head>
<body>
    <div id="warp">
      <div id="header">
        <div id="logo">
            <p id="p1"><br>正安數位</p>
            <p id="p2">購物網</p>
        </div>
      </div>
      <div id="content"> 
        <img src="{% static "images/cartTitle2.png" %}" width="920" height="29" />
        <div id="sidediv">
          <div class="sidemenu">資訊中心</div>
          <ul>
            <li><a href="/cart/">檢視購物車</a></li>
            <li><a href="/cartordercheck/">查詢訂單</a></li>
            <li><a href="/index/">回到首頁</a></li>
          </ul>
        </div>
        {% block content %}{% endblock %}
        <div style="clear:both"><hr></div>

      </div>
      <div id="footer">
          <p id="p3">正安數位</p>
          <p id="p4">購物網</p>
      </div>
    </div>
</body>
</html>
